{% include "./partials/header.njk" -%}
{% include "./partials/nav.njk" %}
        

	<!-- Page Content -->
	<div class="page-content {{ "active" if userProfile.settings.smSideNav == true }}">
		<div id="react-fleet-attach"></div>
	</div>

<script src="/compiled-react/waitlist.js"></script>

{%- include "./partials/footer.njk" %}