{% block header %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Imperium Incursions Waitlist</title>
    <meta name="description" content="Imperium Incursions squad waitlist and fleet managment tool.">
    <meta name="author" content="Samuel Grant">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="id" content="{{userProfile.characterID}}">
    <meta name="google" content="notranslate" />

    <!-- Sentry -->
    <script src="https://browser.sentry-cdn.com/5.24.2/bundle.tracing.min.js" integrity="sha384-Epltozh7S1cJM2hcIRDJBbqiiVpZsNlFCciHxKIAfKN8mSTa+gMivtz7glp/30Mz" crossorigin="anonymous"></script>
    <script language="text/javascript">Sentry.init({ dsn: '{{ sentry.publicDsn }}' });</script>

    <!-- Tether -->
    <script src="/includes/vendor/tether/tether.min.js"></script>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/includes/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/includes/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/includes/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/includes/css/custom.css">
    <link rel="stylesheet" href="/includes/css/waitlist-colors.css">
    <link rel="stylesheet" href="/includes/css/animate.css">
    <link rel="stylesheet" href="/includes/css/bird-alert.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/includes/img/favicon.ico">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="/includes/vendor/html5shiv/html5shiv.min.js"></script>
    <script src="/includes/vendor/respond/respond.min.js"></script><![endif]-->
    <!-- Font Awesome 5 -->
    <script src="/includes/vendor/fontawesome/js/all.js"></script>
    <!-- Charts -->
    <script src="/includes/vendor/chart.js/Chart.min.js"></script>
    <!-- JQuery Scripts -->
    <script src="/includes/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="/includes/vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Application Scripts -->
    <script src="/includes/js/notify.js"></script>
    <script src="/includes/js/waitlist-app.min.js"></script>
  </head>
  <body>
{% endblock %}